/* general */
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
 }

 body {
   font-family: 'Poppins', sans-serif;
   background-color: white;
   color: black;
   transition: background-color, color 5s;
 }

 html {
   scroll-behavior: smooth;
 }

 p {
   font-family: 'Inconsolata', monospace;
 }

 /* Dark MODE */
 .dark-mode {
   background-color: #272655;
   color: white;
   transition: background-color, color 5s;
}

#toggle {
   position: absolute;
   top: 0;
   right: 0;
   margin: 10px; /* Adjust this value to add some spacing from the top and right edges */
   padding: 20px; /* Add padding for better visibility */
   width: 40px;
   height: 40px;
   cursor: pointer;
}

 /* Section(s) */

 #profile, #socials, .second {
   padding-top: 4vh;
   height: 96vh;
   margin: 0 18rem;
   box-sizing: border-box;
   min-height: fit-content;
 }
 
/* Profile */

#profile {
   display: flex;
   justify-content: center;
   gap: 5rem;
   height: 80vh;
}

.section-text {
   align-self: center;
   text-align: center;
}

.title  {
   font-size: 3.5rem;
   text-align: center;
}

#emoticon {
   font-size: 4rem;
}

.section-text p {
   font-size: 1.5rem;
   margin-bottom: 1rem;
}

#socials-container {
   display: flex;
   justify-content: center;
   margin-top: 1rem;
   gap: 1rem;
}

/* Icon */

.icon {
   cursor: pointer;
   height: 2rem;
}



/* Typewriter Animation */

#typewriter {
   color:#96613f;
   font-weight: bold;
}

#cursor {
   color: #96613f;
   animation: blink 0.5s linear infinite;
   font-weight: bold;
}

@keyframes blink {
   0% {
      opacity: 100%;
   }
   50% {
      opacity: 0%;
   }
}

/* Second page */

.about-me p {
   padding-top: 20vh;
   text-align: center;
   font-weight: bold;
   font-size: 25px;
}

.second {
   opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
   transition: all 3s;
}

.show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
}

