/* general */
 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
 }


 body {
   font-family: 'fira code', monospace;
   background-color: #020617;
   color: white;
   transition: background-color 1s;
   margin: 0;
   padding: 0;
 }

 html {
   scroll-behavior: smooth;
 }

 p {
   font-family: 'fira code', monospace;
   font-weight: 400;

 }

@keyframes fade-in {
   0% {
      opacity: 0;
      transform: 30px scale(0.9);
   }

   100% {
      opacity: 1;
      transform:(0px) scale(1);
   }
}

 /* Dark MODE */
 .dark-mode {
   background-color: white;
   color: black;
   transition: background-color 1s;
}

#toggle {
   position: absolute;
   top: 0;
   right: 0;
   margin: 10px; 
   padding: 20px; 
   width: 40px;
   height: 40px;
   cursor: pointer;
}

#toggle:hover {
   transform: scale(1.25);
   transition: 0.1s ease-in-out;
}

#toggle:not(:hover) {
   transition: 0.1s ease-in-out;
}

 /* Section(s) */

 #profile, #socials, .second {
   padding: 4vh 5%;
   min-height: 100vh;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 
/* Profile */ 

#profile {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   gap: 2rem;
   height: 100vh;
   padding-top: 17vh;
}

.section-text {
   position: relative;
   margin-top: 0;
   text-align: left;
   max-width: 600px;
   width: 100%;
}

.title {
   font-size: 2rem;
   text-align: left;
   font-weight: 450;
}

.section-text p {
   margin-bottom: 1rem;
}

#inquiry {
   text-decoration: underline;
   cursor: pointer;
}

.tpw-text {
   font-size: 0.9rem;
}

.personal-info p {
   font-size: 0.9rem;
}

#softwaredev {
   color: #f7768e;
}

#locationicon, #jobicon {
   font-size: 1.5rem;
   margin-right: 0.5rem;
}


.sub {
   font-size: 0.8rem;
   margin-top: 2rem;
   width: 100%;
}

/* Icons */

#socials-container {
   display: flex;
   justify-content: center;
   margin-top: 15vh;
   gap: 1.3rem;
}

.fa-solid, .fa-brands {
   cursor: pointer;
}

i:hover {
   transform: scale(1.25);
   transition: 0.1s ease-in-out;
}

i:not(:hover){
   transition: 0.1s ease-in-out;
}

/* Typewriter Animation */

#typewriter {
   color:#9ece6a;
   font-weight: 650;
}

#cursor {
   color: #9ece6a;
   animation: blink 0.5s linear infinite;
   font-weight: 650;
}

@keyframes blink {
   0% {
      opacity: 100%;
   }
   50% {
      opacity: 0%;
   }
}

/* Second page */

.about-me p {
   padding-top: 40vh;
   text-align: center;
   font-weight: 100;
   font-size: 25px;
}

.second {
   opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
   transition: all 3s;
}

.show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
}

/* Media Queries */
@media screen and (max-width: 768px) {
   .title {
      font-size: 1.5rem;
   }

   .sub {
      font-size: 0.7rem;
   }

   #socials-container {
      flex-wrap: wrap;
   }
}

@media screen and (max-width: 480px) {
   .title {
      font-size: 1.2rem;
   }

   .sub {
      font-size: 0.6rem;
   }
}  